.myBackdrop {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 50%, rgba(0, 0, 0, 0.4) 100%);
  /* 3. Ensure the mask scales with your JS animations */
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  overflow: hidden;
}

@font-face {
    font-family: "Nimbus Sans Narrow";
    src:
    /* in firefox, local("GentiumBookPlus-Regular") does not work, although the font file has this name */
    local("NimbusSansNarrow-Bold")
    ,
    url("NimbusSansNarrow-Bold.woff2")
    ;
    font-weight: bold;
}

.label {
  font-family: Nimbus Sans Narrow, PT Sans Narrow;
  pointer-events: none;
  font-weight: bold;
  user-select: none;
}

body {
  margin: 1em;
}

#container {
  max-width: 100%;
  width: 100%;
}

#container svg {
  max-width: 100%;
  height: auto;
}